table.column-list {
	border-collapse: collapse;
	color: #333;
}
table.column-list tr td, table.column-list tr th {
	padding: 4px;
}
table.column-list tr th {
	font-weight: normal;
	height: 23px;
	border: 0;
	font-family: Tahoma, sans-serif;
}
table.column-list tr td {
	height: 22px;
	background: #99cccc;
	border: 1px solid #333;
	font-family: Tahoma, sans-serif;
}

table.column-list tr td.selected {
	background: #CCFFFF;
	border: 1px solid #666;
}
table.column-links {
	margin: 0 1em;
	border-collapse: collapse;
	color: #666;
}
table.column-links tr td {
	padding: 0;
	height: 31px;
	font-size: 27px;
}
table.column-list tr th.form-inputs {
	padding: 1px 1px 3px 1px;
}
table.column-list select {
	padding: 4px;
	width: 100%;
}
table.column-list input[type=submit] {
	width: 100%;
	padding: 3px;
}
table.column-links tr td.form-arrow {
	height: 62px;
	vertical-align: middle;
}
table.column-links tr td.relation-arrow {
	position: relative;
}
table.column-links tr td.relation-arrow a {
	top: 20px;
	left: 4px;
	position: absolute;
	opacity: 0.5;
}
table.column-links tr td.relation-arrow a:hover {
	opacity: 1;
}

form.relations-editor {
	float: left;
}
form.relations-editor .detector-link {
	clear: both;
	width: 100%;
	padding-top: 1.5em;
	text-align: center;
}
form.relations-editor .detector-link em {
	display: block;
}
.foreign-tables, .foreign-links, .original-table, .master-tables, .master-links {
	float: left;
}